<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <!-- Inclure des liens vers des fichiers CSS, des polices, etc. -->
</head>
<body>
    <header>
        <!-- Logo et menu de navigation -->
        <h1>Bienvenue sur Mon Blog</h1>
        <p>Ceci est la page d'accueil de mon blog.</p>
        <p><a href="/login">Se connecter</a> pour écrire des articles.</p>

    </header>

    <footer>
        <!-- Pied de page avec des liens et des informations de contact -->
        <p>&copy; 2024 Mon Blog</p>
    </footer>
</body>
</html>
